bin/
obj/

*.user
*.userosscache
*.suo
*.sln.docstates

.vs/

.idea/

_ReSharper*/
*.[Rr]e[Ss]harper

.DS_Store
Thumbs.db

node_modules/

*.log

publish/

*.nupkg
*.snupkg
packages/

ScaffoldingReadMe.txt

*.Snapshot.cs

secrets.json

.idea/

.dotnet/

TestResults/

azure-pipelines.yml

*.vspscc
*.vssscc

